.idea
.env
Selenium/code/__pycache__/test_login.cpython-311-pytest-8.3.3.pyc
Selenium/code/__pycache__/conftest.cpython-311-pytest-8.3.3.pyc
Selenium/code/__pycache__/base.cpython-311.pyc
.vscode/settings.json
Selenium/code/ui/__pycache__/fixtures.cpython-311.pyc
Selenium/code/ui/locators/__pycache__/basic_locators.cpython-311.pyc
Selenium/code/ui/locators/__pycache__/lesson_locators.cpython-311.pyc
Selenium/code/ui/locators/__pycache__/login_locators.cpython-311.pyc
Selenium/code/ui/locators/__pycache__/people_locators.cpython-311.pyc
Selenium/code/ui/locators/__pycache__/user_locators.cpython-311.pyc
Selenium/code/ui/pages/__pycache__/base_page.cpython-311.pyc
Selenium/code/ui/pages/__pycache__/lesson_page.cpython-311.pyc
Selenium/code/ui/pages/__pycache__/login_page.cpython-311.pyc
Selenium/code/ui/pages/__pycache__/main_page.cpython-311.pyc
Selenium/code/ui/pages/__pycache__/people_page.cpython-311.pyc
Selenium/code/ui/pages/__pycache__/user_page.cpython-311.pyc
